<form method="POST" action="/signin">
  <label for="me">Sign in with your domain:</label>
  <input type="url" id="me" name="me" autocomplete="home url"/>
  <button type="submit">Sign In</button>
</form>