<p>Get started by signing in.</p>

{{> sign-in-form }}

<div class="h-feed">
  <h3 class="p-name">Recent Changes</h3>
  <ul>
    <li class="h-entry"><strong class="dt-published">2019-01-19</strong> – <em class="p-name">An IndieWebring Directory!</em> <span class="e-content">Active sites who opt-in can now appear on the <a href="/directory">Directory</a> page! <a class="u-url" href="https://martymcgui.re/2019/01/19/an-indiewebring-directory/">[Details and comments]</a></span></li>    
    <li class="h-entry"><strong class="dt-published">2018-09-29</strong> – <em class="p-name">Webrings without borders!</em> <span class="e-content">New emoji IDs will no longer have country flag emoji. <a class="u-url" href="https://martymcgui.re/2018/09/29/114553/">[Details and comments]</a></span></li>  
  </ul>
</div>
