<h2>Terms of Use and Frequently Asked Questions</h2>

<dl>

  <dt>What is this?</dt>
  <dd><p>
  This proof-of-concept <a href="https://en.wikipedia.org/wiki/Webring">webring</a> is a way for folks adding <a href="https://indieweb.org/building-blocks">IndieWeb building blocks</a> to their personal websites to find (and be found by) other folks with IndieWeb building blocks on their sites!
  </p></dd>

  <dt>Should I add my website to the webring?</dt>
  <dd><p>
  Maybe! If you have a personal website, are adding <a href="https://indieweb.org/">IndieWeb</a> features to it, and are interested in finding and being found by folks who are doing the same, you should join!
  </p>
  <p>
  By joining this webring, you agree to follow the <a href="https://indieweb.org/code-of-conduct">IndieWeb Code of Conduct</a>.
  </p>
  </dd>
  
  <dt>How do I add my website to the webring?</dt>
  <dd>
    <p>
      Joining the webring is a two-part process.
      <ol>
        <li>Sign in using your personal site's domain as your identity. The webring works with sites that support <a href="https://indieweb.org/IndieAuth">IndieAuth</a> or <a href="https://indieweb.org/RelMeAuth">RelMeAuth</a>.</li>
        <li>Add your site's unique <strong>webring links</strong> to your homepage. You can always find your links in the <a href="/dashboard#webring-links">Your Webring Links section</a> of the <a href="/dashboard">Dashboard page</a>.</li>
      </ol>
    </p>
  </dd>

  <dt>What are <strong>webring links</strong>?</dt>
  <dd><p>
    These links appear on the home page of each member of the webring, and allow visitors of member sites to continue exploring other sites in the webring. These links are <em>how the webring works</em>.
    </p>
    <p>
    In order to prevent "breaking the ring", member sites are checked periodically to make sure the webring links are still on their homepage. If the links are missing, your site will be marked as inactive.
    </p>
    <p>
    Members can re-scan their home page for webring links at any time from the <a href="/dashboard">Dashboard page</a>.
    </p></dd>

  <dt>What data do you collect about webring members?</dt>
  <dd>
    <p>The webring collects public information from the URL you enter when signing in.</p>
    <ul>
      <li>Periodically, or whenever you request it, the webring will check for the presence of your site's unique <strong>webring links</strong>.</li>
      <li>When you join, and whenever you request it, the webring will check for a <a href="http://microformats.org/wiki/representative-h-card-authoring">representative h-card</a> containing profile info such as your name, photo, and short bio.</li>
    </ul>
    <p>
      You can view all information the webring has stored about you on the <a href="/dashboard">Dashboard page</a>. You can remove your profile information from the webring from the dashboard page.
    </p>
  </dd>

  <dt>What data do you display about webring members?</dt>
  <dd>
    <p>
    As an ACTIVE member of the webring:
    </p>
    <ul>
      <li>A webring visitor following the <strong>webring links</strong> on another member's page may be directed to your page.</li>
      <li>Public profile information from your home page such as your name, photo, and short bio may be shown on the <a href="/directory">Directory page</a> You can delete this information at any time to be removed from the Directory page.</li>
    </ul>
    <p>
      You can view all information the webring has stored about you on the <a href="/dashboard">Dashboard page</a>. You can remove your profile information from the webring from the dashboard page.
    </p>
  </dd>

  <dt>What data do you collect about webring visitors?</dt>
  <dd><p>
    In order to ensure the site's functionality, some information may be temporarily logged when a visitors follows any <strong>webring link</strong>, including which webring link they visited, the page they were on when they clicked the link, and the page the webring directed them to next. No identifying information like IP address is collected. The logs are only collected when the site is actively being developed, and are only kept for a few minutes before being cleared.
    </p></dd>

  <dt>How do I remove myself from the webring?</dt>
  <dd><p>
    You can remove yourself from the webring entirely from the <a href="/dashboard">Dashboard page</a>.
    </p><p>
    To ensure that webring visitors are not directed to your site, remove the <strong>webring links</strong> from your home page, and use the "Check links now!" button on your dashboard to ensure that your site is now INACTIVE. This will also remove your profile from the <a href="/directory">Directory page</a>.
    </p>
    <p>
      To remove your profile information entirely, use the "Remove my profile" button on your dashboard page. This will remove your site from the Directory page, but webring visitors may be directed to your site if it is still listed as ACTIVE.
    </p></dd>

  <dt>Can you remove all information about me from the webring?</dt>
  <dd><p>
    Sure! Webring members can request to be entirely removed from the webring by contacting Marty. He can be reached via the contact links on <a href="https://martymcgui.re/">his website</a>, or directing a message to <code>schmarty</code> in the <a href="https://indieweb.org/discuss">IndieWeb chat</a>.
    </p></dd>

  <dt>Anything else?</dt>
  <dd><p>
    Sure! We ask that members adhere to the <a href="https://indieweb.org/">IndieWeb Code of Conduct</a>. However, we do not control the content of any webring member site and viewing them is at your own risk. If you believe you have found a member site that should not be included in the webring for any reason, please contact us using the links in the footer.
    </p>
    <p>
      ACTIVE/INACTIVE status, profile information, and membership in the webring are provided on a best-effort basis and at our sole discretion!
    </p></dd>
</dl>
