/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

html {
  color: #000;
  background-color: #FFF;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 50ch;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.status {
  border: 1px solid lightgrey;
  margin: 0 0 1em 0;
  max-width: 72ch;
  padding: 1em;
}
.status.active {
  border-color: green;
  background-color: honeydew;
}
.status.active::before {
  content: '✔️';
  color: green;
}
.status.active::after {
  content: '😀';
}
.status.inactive {
  border-color: red;
  background-color: lavenderblush;
}
.status.inactive::before {
  content: '⛔';
}
.status.inactive::after {
  content: '😢';
}
.dashboard-urls summary {
  font-weight: bold;
}
.dashboard-urls p {
  font-style: italic;
}

.profile {
  display: flex;
  flex-direction: column;
}
.profile > * {
  margin-top: 1em;
}
.profile > *:first-child {
  margin-top: 0;
}
.profile > a {
  text-decoration: none;
}
.profile > img {
  width: 100%;
}
.profile .slug {
  font-size: 2em;
  margin-top: auto;
  text-align: center;
}

.directory {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat( auto-fit, minmax(25ch, 1fr) );
}
.directory .profile {
  background-color: cyan;
  padding: 1rem;
}

dt {
  border-top: 1px dotted black;
  font-weight: bold;
  font-style: italic;
  padding: 2em 0 0;
}